body
{
    background-color:rgb(180,210,250);
	background-image: url("prism.png");
	color:rgb(215,215,215);
	font-family: "Trebuchet MS";
}

li a
{
    color:rgb(215,215,215);##004080;
    text-decoration:none;
}

li a:hover
{
    color:#yellow;
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;

}

#topbar
{
    height:120px;
    width:800px;
   # color: #3366ff;
}

#logo
{
    width:200;
    height:120px;
    color:white;
    float:left;
    text-align:left;
}
#topbarr
{
    width:800px;
    height:120px;
    float:left;
    text-align:center;
}

#menu
{
    float:left;
    width:200px;
    min-height:400px;
    text-align:left;
    color:rgb(215,215,215);#004080;
    #font-family:"Courier";
}

#content
{

    float   : left;
    width   : 800px;
    height  : ;
    overflow: auto;
}

#footer
{
    clear:both;
    padding:20px;
    width:1000px;
    text-align:center;
    a text-decoration:none;
    a:hover color:#yellow;

}

#container1
{
    width:800px;
    margin-left: auto;
    margin-right: auto;

}

#topbar1
{
    margin-top:8;
    width:1000px;
    height:80px;
    color:white;

}

#t1
{
    height:;
    width:38%;
    float:left;
    #background-color:;
    text-align:center;

}

#t2
{
    width:35%;
    height:;
    float:left;
    text-align:center;
    #background-color:;
    color:white;
}
#t3
{
    width:27%;
    height:;
    float:left;
    color:white;
    text-align:left;
    background-color:;
}

#main
{
    float:left;
    width:600px;
    min-height:400px;
    text-align:center;
    color:rgb(215,215,215);

    clear:both;
}

#cena
{
float:top;
width:100%;
text-align:right;
}

#opis
{
    border:10px;

    width:350px;
    float:left;
    font-family: "Courier", Times, serif;
}
#obraz
{
    float:left;
    width:250px;
}

button {
  	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

input[type=submit] {
  background-color:red;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  float: right;
}

input[type=number]{
    float:  right;
    font-size: 18px;
    margin: 0px ;
    border: 0px;
    background-color:   ;
    width:  50px  ;

}

.szukaj {
     width: 60%;
     padding: 5px;
     margin-top:    20px;
     margin-right:    10px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 0px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);


      }
a
{
    text-decoration:none;
    color:rgb(215,215,215);
}
a:hover
{
    color:#77a3ea;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
th {
  height: 40px;
}

.th1 {
    background: ;
}

.td1 {
    background: ;
    text-align : left;
    width: 60px;

}

.rama
{
    border-width: 0px;   border-color: white;   border-style: solid;
}
.rama:hover
{
   border-width: 0px;   border-color: white;   border-style: solid;
}

