{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'produkty/style.css' %}">

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Baza Magazyn</title>
</head>
<body>

{% if user.is_authenticated %}

<div id="container">
    <div id="logo">
        <a href="{% url 'index'  %}"><img  height="125" src="{% static '/produkty/logo.png' %}" alt="My logo"></a>
    </div>

    <div id="topbarr">

        <div id="topbar1">
            <div id="t2">

            <a href="{% url 'magazyn' %}"><h1> ZAMÓWIENIA </h1></a>
                <br>
            </div>
            <div id="t1" >
                 <h1>zalogowany: {{ user.username }} </h1>
            </div>

            <div style="text-align:center;padding:30px; padding-right:150px;">
                <a href="{% url 'logout' %}"> wyloguj </a>
            </div>

        </div>
    </div>
        <div style="clear:both;"></div>

        <div id="">
            <div id="t3">
                <h1>lista zamówień:</h1>
            </div>
            <div id="t1">
                 <!--<form id="1" role="search" action="/s/">-->
                     <!--<input class= "szukaj" type="text" name="q" placeholder="szukaj">-->
                     <!--<button type="submit">znajdź</button>-->
                 <!--</form>-->
            </div>
            <div id="t2">
                {% if czy_sprzedawca %}
                <a  href= " {% url 'new_cart' %} " ><h1>Nowe zamówienie</h1></a>
                {% endif %}
            </div>

        </div>

    <div style="clear:both;"></div>
    {% else %}
        <p>Zaloguj się dramiu.</p>
        {% endif %}
    {% block content %}

    {% endblock %}

</body>
</html>