{% extends 'produkty/baza.html' %}

{% block contents %}

{% if cart %}
    <h1>zamówienie {{cart.id}} </h1>
<div id="dodaj"><a href= "{% url 'kategorie' cart.id %}">DODAJ POZYCJĘ</a></div>
<div class="box">

    <form  method="POST"> {% csrf_token %}

        {{ form.as_table }}

        <input type="submit" value="Zmień status" />

    </form>
</div>
<br>
    <table>
        <tr>
            <th style="width=20px">id</th>
            <th>nazwa</th>
            <th>stan</th>
            <th style="width=100px">lokacja </th>
        </tr>
    {% for item in cart.products.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nazwa }}</td>
            <td>{{ item.stan }}</td>
            <td> {{ item.regał }}    {{item.półka}}    {{ item.lokacja_x }}</td>
            <td><a href="{% url 'remove_from_cart' item.id %}">usuń</a></td>
        </tr>
    {% endfor %}

    </table>
    </br>
{% else %}
    BRAK ZAMÓWIEŃ
{% endif %}

{% endblock contents %}