{% extends 'cart/baza_magazyn.html' %}

{% block content %}

<div id = "content">
    {% if status_filtr %}
    filtruje
    {% else %}
    nie filtruje
    {% endif %}

        {% if all_carts %}
        <h3>ilosc zamówień: {{ count_carts }}</h3>

        <table style="width:100%">

        <tr>
            <th style="width:120px">id</th>
            <th style="width:80px">ilość części</th>
            <th style="width:240px">data utworzania</th>
            <th style="width:240px">zmodyfikowano</th>
            <th>
                {% if czy_sprzedawca %}
                <form label="" method="POST" action="filtruj"> {% csrf_token %}
                    {{ form_f.as_p }}
                    <!--<input type="submit" value="filtruj" />-->
                </form>
                {% else %}
                status
                {% endif %}
            </th>
            {% if czy_sprzedawca %}
            <th style="width:50px">akcja</th>
            {% endif %}
        </tr>
    {% for c in status_filtr %}
        <tr>
            <td><a href= " {% url 'cart_nr' c.id  %} " >zamówienie {{c.id}}</a></td>
            <td>{{ c.products.count }}</td>
            <td>{{ c.created_at }}</td>
            <td>{{ c.updated_at }}</td>
            <td>{{ c.status }}</td>
            {% if czy_sprzedawca %}
            <td><a href= " {% url 'delete_cart' c.id %} " >usuń</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
        {% else %}
        <h2>brak zamówień</h2>
        {% endif %}
</div>

{% endblock %}