{% extends 'produkty/baza.html' %}

{% block contents %}
<h1>Edycja zamówienia nr: {{ c_id }} </h1>

<div id="opis">

     <h3> Kategoria: &nbsp; &nbsp; <a href = "{%  url 'kategoria' produkt.kategoria.id  %}  " >
    {{ produkt.kategoria }}</a></h3>

    <h1> {{ produkt }}</h1>
    <h3>Producent:  &nbsp; &nbsp; {{ produkt.producent }}</h3>
</div>

<div id="obraz">

    {% if produkt.obraz %}
    <img src="{{ produkt.obraz.url }}"  width ="250" height="200" alt="obrazek"/>
    {% endif %}
</div>

<div style="clear:both;"></div>
    Opis:
    <hr />
    <h4>{{ produkt.opis }}</h4>
    <br />

<div id="cena">
    <table >
        <tr >
            <td style="text-align:right;">
                Cena: {{ produkt.cena }} zł
            </td>
            <td style="text-align:right;">
                Stan: {{ produkt.stan }}
            </td>
        </tr>
    </table><br>

    {% if produkt.stan > 0 %}
    <button type="button" onclick= " location.href= ' {% url 'update_cart_m' produkt.nazwa c_id  %} ' ">dodaj</button>
    {% else %}
    <h5>Nie można dodać - brak na stanie.</h5>
    {% endif %}
    </div>
    </br>


{% endblock %}