{% extends 'produkty/baza.html' %}

{% block contents %}

<div id="container1">

    <div id = main>
            {% load static %}
        <h2>Witaj w sklepie z częściami samochodowymi.</h2>
            <img class="rama" width="150" height="120"  src="{% static "/produkty/aku.png" %}" alt="My logo">
            <img class="rama" width="230"  height="110" src="{% static "/produkty/exhaust.png" %}" alt="My logo">
            <img class="rama" width="550"  src="{% static "/produkty/shop.jpg" %}" alt="Mshop">

    </div>
</div>

{% endblock contents %}