{% extends 'produkty/baza.html' %}

{% block contents %}
{% if c_id %}
<h1>Edycja zamówienia nr: {{ c_id }} </h1>
   Kategorie produktów:
<br />
{% if kats %}
    <ul>
    {% for kat in kats %}
        <!--<li><a href="{% url 'kategoria' kat.id  %}">{{ kat.nazwa }}</a></li>-->
        <li><a href="{% url 'kat_m' kat.id  c_id %}">{{ kat.nazwa }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}

{% else %}
<h1>Błąd. Nie wybrano zamówienia.</h1>
{% endif %}

{% endblock %}